/* Adjust the styling on the panel in each list of recipes, cuisines etc */
.task_header {
    padding-left: 20px;
    min-width: 50%;

}
/* Styling for various different buttons around the site */
.search-btn {
    padding-left:10px;
    padding-right: 10px;
}

/* Styling for upvoting button */
.upvotesbtn {
    border:0;
    background:none;
    text-align:right;
    padding-right: 0;
}

.upvotesbtn i {
   margin-right:5px; 
}

.upvote-count {
    float:right;
}

.edit-delete-btns {
    text-align: center;
    margin: 20px;
}

.delete-button {
    text-decoration: none;
    color: #fff;
    background-color: #ee6e73;
    text-align: center;
    letter-spacing: .5px;
}
.update-del-btns{
    text-align: center;
}

/* Styling for the charts in the statistics page */ 

.chart-wrapper {
    overflow: auto;
    position: relative;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
    background: #fbfbfb;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
}

.chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 10px 4px;
    text-align: center;
}

.chart-stage {
    padding-left: 20px;
    padding-top: 20px;

}

.logo {
    height: 50px;
    width: 50px;

}
/* Styling for the heading of the statistics page */
.stats-heading {
    text-align: center;
}

.chart-description {
    text-align: center;
}

/* Styling for small amounts of data in recipe description such as cook time etc */
.no-side-padding {
    padding-left:0;
    padding-right:0;
}

.inline-details {
    padding-bottom: 40px;
}

/* Styling required for recipe description of large amounts of text such as method */
.paragraph-details {
    margin-top: 30px;
    margin-bottom:30px;
}

/* Styling for icons used across the site*/
.material-icons {
    margin-top:0px;
    margin-left:0px;
}

/* Styling for drop down description of cuisine, when cuisine list is displayed */
.cuisine-description {
    margin-bottom: 30px;
}

/* Container for statistics page is different than anyother page.*/
.container-stats {
    width:90%;
    margin: auto;
}

/* Div for paragraph explaining use of page.*/
.page-explainer {
    padding-bottom: 10px;
}

/* Div for author of recipe */
.recipe-author {
    padding-bottom: 10px;
}