{% extends 'base.html'%} {% block content %}
<div class="container">
<h3>Add Cuisine</h3>
<div class="row">
    <form action="{{url_for('insert_cuisine')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="cuisine_name" name="cuisine_name" type="text" class="validate">
                <label for="cuisine_name">Cuisine Name</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea id="cuisine_description" name="cuisine_description" class="materialize-textarea"></textarea>
                <label for="cuisine_description">Cuisine Description</label>
            </div>
        </div>
        
        <div class="row update-del-btns">
            <button class="btn waves-effect waves-light" type="submit">Add Cuisine
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>


    </form>
</div>
</div>
{% endblock %}