<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
        jQuery(window).load(function() {
            jQuery('#overlay').fadeOut(8000);
        });
    </script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#">Recipe Manager</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                    <li><a href="{{url_for('get_cuisines')}}">Cuisines</a></li>
                    <li><a href="{{url_for('get_allergens')}}">Allergens</a></li>
                    <li><a href="{{url_for('get_countries')}}">Countries</a></li>
                    <li><a href="{{url_for('display_stats')}}">Statistics</a></li>
                    <li><a href="{{url_for('search_recipes')}}">Search</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                    <li><a href="{{url_for('get_cuisines')}}">Manage Cuisines</a></li>
                    <li><a href="{{url_for('get_allergens')}}">Manage Allergens</a></li>
                    <li><a href="{{url_for('get_countries')}}">Countries</a></li>
                    <li><a href="{{url_for('display_stats')}}">Statistics</a></li>
                    <li><a href="{{url_for('search_recipes')}}">Search</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible-header a').click(function(e) {
                e.stopPropagation();
            });
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>

</body>

</html>
