{% extends 'base.html'%} {% block content %}
<h3>Countries</h3>
<div class="row">
    <a href="{{url_for('add_country')}}" class="waves-effect waves-light btn btn_small">Add Country
                <i class="material-icons right">playlist_add</i>
                </a>

</div>
<ul class="collapsible" data-collapsible="accordion">
    {% for country in countries %}
    <li>
        <div class="collapsible-header">
            <div class="col-xs-1">
                <i class="material-icons">place</i>
            </div>
            <div class="task_header col-xs-11">
                <strong>{{country.country_name.title()}}</strong>
            </div>
        </div>
            <div class="collapsible-body">
                <div class="update-del-btns">
                <div class="inline_actions">
                    <a href="{{url_for('delete_country', country_id=country._id)}}" class="waves-effect waves-light btn delete-button btn_small">Delete</a>
                    <a href="{{url_for('edit_country', country_id=country._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
            </div>
            </div>
            
        
        
        
            <br> {% endfor %}
</ul>
{{ pagination.info }}
{{ pagination.links }}
{% endblock %}
