{% extends 'base.html'%} {% block content %}

    <ul class="collapsible" data-collapsible="accordion">
        {% for cuisine in cuisines %}
        <li>
            <div class="collapsible-header">
                <div class="col s1">
                    <i class="material-icons">expand_more</i>
                </div>
                <div class="col s2">
                    <div class="inline_actions">
                        <a href="{{url_for('delete_cuisine', cuisine_id=cuisine._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                        <a href="{{url_for('edit_cuisine', cuisine_id=cuisine._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    </div>
                </div>
                <div class=" task_header col s9">
                    <strong>{{cuisine.cuisine_name}}</strong> 
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{cuisine.cuisine_description}} 
            </span>
            <br>
            
        {% endfor %}
    </ul>

{% endblock %}