{% extends 'base.html'%} {% block content %}
<div class="container">
<h3>Edit Country</h3>
<div class="row">
    <form action="{{url_for('update_country', country_id=country._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="country_name" name="country_name" type="text" class="validate" value="{{country.country_name}}">
                <label for="country_name">Country Name</label>
            </div>
        </div>

        <div class="row update-del-btns">
            <button class="btn waves-effect waves-light" type="submit">Update Country
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>


    </form>
</div>
</div>
{% endblock %}
