{% extends 'base.html'%} {% block content %}
<div class="container">
    <h3>Edit Allergen</h3>
    <div class="row">
        <form action="{{url_for('update_allergen', allergen_id=allergen._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input id="allergen_name" name="allergen_name" type="text" class="validate" value="{{allergen.allergen_name}}">
                    <label for="allergen_name">Allergen Name</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col-xs-12">
                    <i class="material-icons prefix">description</i>
                    <textarea id="allergen_description" name="allergen_description" class="materialize-textarea">{{allergen.allergen_description}}</textarea>
                    <label for="allergen_description">Allergen Description</label>
                </div>
            </div>
            <div class="row update-del-btns">
                <button class="btn waves-effect waves-light" type="submit">Update Allergen
                <i class="material-icons right">playlist_add</i>
            </button>
            </div>


        </form>
    </div>
</div>
{% endblock %}
