{% extends 'base.html'%} {% block content %}
<h3>Edit Recipe</h3>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<div class="row">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col-xs-12">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-xs-12 col-md-4">
                <i class="material-icons prefix">person</i>
                <input id="author" name="author" type="text" class="validate" value="{{recipe.author}}">
                <label for="icon_prefix">Author Name</label>
            </div>
        

            <div class="input-field col-xs-12 col-md-4">
                <i class="material-icons prefix">person</i>
                <input id="username" name="username" type="text" class="validate" value="{{recipe.username}}">
                <label for="icon_prefix">Username</label>
            </div>


            <div class="input-field col-xs-12 col-md-4">
                <i class="material-icons prefix">place</i>
                <select id="country" name="country">
                  <option value="" disabled selected>Choose Country</option>
                  {% for country in countries %}
                      {% if country.country_name == recipe.country %}
                          <option value="{{country.country_name.title()}}" selected>{{country.country_name.title()}}</option>
                      {% else %}
                          <option value="{{country.country_name.title()}}" >{{country.country_name.title()}}</option>  
                      {% endif %}
                  {% endfor %}
                 </select>
                <label for="icon_prefix">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-xs-12 col-md-6">
                <i class="material-icons prefix">poll</i>
                <select id="cuisine_name" name="cuisine_name">
                  <option value="" disabled selected>Choose Cuisine</option>
                  {% for cuisine in cuisines %}
                      {% if cuisine.cuisine_name == recipe.cuisine_name %}
                          <option value="{{cuisine.cuisine_name}}" selected>{{cuisine.cuisine_name}}</option>
                      {% else %}
                          <option value="{{cuisine.cuisine_name}}" >{{cuisine.cuisine_name}}</option>  
                      {% endif %}
                  {% endfor %}
                 </select>
                <label>Cuisine</label>
            </div>


            <div class="input-field col-xs-12 col-md-6">
                <i class="material-icons prefix">warning</i>
                <select multiple id="allergens" name="allergens">
                    {% for allergen in existing_allergens %}
                        <option value="{{allergen._id}}" selected>{{allergen["allergen_name"]}}</option>
                    {% endfor %}
                    {% for allergen in allergens %}
                        <option value="{{allergen._id}}">{{allergen["allergen_name"]}}</option>
                    {% endfor %}
                </select>
                <label for="allergens">Allergens</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col col-xs-12">
                <i class="material-icons prefix">description</i>
                <input id="recipe_description" name="recipe_description" class="materialize-textarea" type="text" value="{{recipe.recipe_description}}">
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-xs-12 col-md-4">

                <i class="material-icons prefix">access_time</i>
                <input id="prep_time" name="prep_time" type="number" value="{{recipe.prep_time}}">
                <label for="prep_time">Preparation time (mins):</label>
            </div>
            <div class="input-field col-xs-12 col-md-4">
                <i class="material-icons prefix">access_time</i>
                <input id="cook_time" name="cook_time" type="number" value="{{recipe.cook_time}}">
                <label for="cook_time">Cooking time (mins):</label>
            </div>
            <div class="input-field col-xs-12 col-md-4">
                <i class="material-icons prefix">people</i>
                <input id="servings" name="servings" type="number" value="{{recipe.servings}}">
                <label for="servings">Servings:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-xs-12">
                <i class="material-icons prefix">text_fields</i>
                <textarea id="method" name="method" class="materialize-textarea" type="text">{{recipe.method}}</textarea>
                <label for="method">Method</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col-xs-12">
                <i class="material-icons prefix">shopping_basket</i>
                <textarea type="text" id="ingredients" name="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>
                <label for="icon_telephone">Ingredients</label>
            </div>
        </div>



        <div class="row update-del-btns">
            <button class="btn waves-effect waves-light" type="submit">Update
                <i class="material-icons right">playlist_add</i>
            </button>
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect danger btn delete-button btn_small">Delete</a>
        </div>


    </form>
</div>
{% endblock %}
