{% extends 'base.html'%} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3>Recipes</h3>
            <div class="page-explainer">
                <p>The app's recipes are all listed here, starting from the most popular to the least. Add a recipe if you wish. To upvote a recipe, simply click on the thumbs-up icon.</p>
            </div>
            <!-- Users can add a new recipe from here -->
            <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn btn_small">Add Recipe
                <i class="material-icons right">playlist_add</i>
                </a>
        </div>
    </div>
    <ul class="collapsible" data-collapsible="accordion" id="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
                <div class="col-xs-1">
                    <i class="material-icons">expand_more</i>
                </div>
                <!-- Clicking on this link will take you to the dedicated page of that recipe-->
                <div class="task_header col-xs-8 col-md-10">
                    <a href="{{ url_for('recipe_description', recipe_id=recipe._id)}}"><strong>{{recipe.recipe_name}}</strong></a>
                </div>
                <!-- From here users can upvote their favourite recipes -->
                <div class="upvote col-xs-3 col-md-2">

                    <form class="material-icons" action="{{ url_for('upvote', recipe_id=recipe._id)}}" method="POST">
                        <button class="upvotesbtn upvote-count" type="submit"><i>thumb_up</i></button></form>{{recipe.upvotes}}
                </div>
            </div>
            <!-- This will collapse below when clicking on the above panel-->
            <div class="collapsible-body">
                <p>by <i>{{recipe.author}}</i></p>
                <p>{{recipe.recipe_description}}</p>

            </div>
        </li>
        {% endfor %}
    </ul>
    {{ pagination.info }} {{ pagination.links }}
</div>
{% endblock %}
