{% extends 'base.html'%} {% block content %}
<h3>Search Recipe</h3>
<div class="row">
    <form action="{{url_for('find_recipe_by_name')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s9">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        
        <div class="searchbtn col s3">
            <button class="btn waves-effect waves-light" type="submit">Search Recipes
                <i class="material-icons right">search</i>
            </button>
        </div>
        </div>
    </form>
    <form action="{{url_for('find_recipe_cuisine_name')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s9">
                <i class="material-icons prefix">poll</i>
                <select id="cuisine_name" name="cuisine_name">
                  <option value="" disabled selected></option>
                  {% for cuisine in cuisines %}
                  <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                  {% endfor %}
                 </select>
                <label>Cuisine</label>
            </div>

            <div class="searchbtn col s3">
                <button class="btn waves-effect waves-light" type="submit">Search Recipes
                <i class="material-icons right">search</i>
            </button>
            </div>
        </div>
    </form>
    <form action="{{url_for('find_recipe_allergen_name')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s9">
                <i class="material-icons prefix">warning</i>
                <select id="allergens" name="allergens">
                    <option value="" disabled selected></option>
                    {% for allergen in allergens %}
                    <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                    {% endfor %}
                </select>
                <label for="allergens">Allergens</label>
            </div>

            <div class="searchbtn col s3">
                <button class="btn waves-effect waves-light" type="submit">Search Recipes
                <i class="material-icons right">search</i>
            </button>
            </div>
        </div>
    </form>



    </form>
</div>
{% endblock %}
