 {% extends 'base.html'%} {% block content %}
<br>
<br>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<div class="col-xs-12 heading">
    <h3>Statistics Taken From Recipe Database</h3>
</div>
<br>
<div class="container-stats">
    <div class="row">
        <div class="col-xs-12">
            <div class="chart-wrapper">
                <div class="chart-title">Upvotes By User</div>
                <div id="most_upvoted_users" class="chart-stage" data-step="5" data-intro="Click on a bar to filter the results by this character. This will apply to all the other charts on the page. " style="font-weight: normal" data-position="top">
                </div>
            </div>
            <div class="chart-description">
                <p>This bar chart displays the users who have recieved the most upvotes for their recipes.</p>
            </div>
        </div>


        <div class=" col-xs-12 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">Upvotes by Cuisine</div>
                <div id="upvotes_by_cuisine" class="chart-stage" data-step="2" data-intro="Click on a different slice or multiple slices to filter the other charts on the page by those countries' results." style="font-weight: normal" data-position="right">

                </div>
                <p>This shows how many upvotes recipes within these cuisines received.</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">Recipes Per Cuisine</div>
                <div id="recipes_by_cuisine" class="chart-stage" data-step="3" data-intro="Click on a bar to filter the other charts by the specified character gender." style="font-weight: normal" data-position="right"></div>
                <p>This pie chart displays the share of total recipes belonging to each cuisine.</p>
            </div>
        </div>


        <div class="col-xs-12 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">Recipes By Country</div>
                <div id="most_occuring_countries" class="chart-stage" data-step="4" data-intro="Female characters have an average lifetime score 14% greater than male characters." style="font-weight: normal" data-position="left"></div>
                <p>This chart displays the share of recipes submitted from each country.</p>
            </div>
        </div>





        <div class="col-xs-12">
            <div class="chart-wrapper">
                <div class="chart-title">Upvotes By Country</div>
                <div id="upvotes_by_country" class="chart-stage" data-step="6" data-intro="You can also filter the results by character just like the previous chart." style="font-weight: normal" data-position="top">

                </div>
            </div>
            <div class="chart-description">
                <p>This chart displays upvotes belonging to recipes submitted from specific countries</p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="chart-wrapper">
                <div class="chart-title">Allergen Occurences In Recipes</div>
                <div id="most_occuring_allergens" class="chart-stage" data-step="1" data-intro="Hover over each marker to access player name, rank, lifetime score and the character they use." style="font-weight: normal" data-position="bottom
                    ">
                </div>
            </div>
            <div class="chart-description">
                <p>This chart displays the frequency of which each allergen occurs within the recipe database. It will not adjust when clicking on other charts.
                </p>
            </div>
        </div>

        <!-- <div class=" col-xs-12 col-md-6">
                <div class="chart-wrapper">
                    <div class="chart-title">Total Lifetime Score by Team</div>
                    <div id="total-lifetime-score-by-team" class="chart-stage" data-step="5" data-intro="Independant players have the highest total yet they are not in a team. Fox is leading yet the distribution of points is generally even among most teams." style="font-weight: normal"
                        data-position="left">

                    </div>
                </div>
            </div>-->


    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.js"></script>

<script type="text/javascript" src="/static/js/graph.js"></script>
{% endblock %}
 